*{
    margin: 0;
    padding: 0;
}

.menuhome {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(0, 0, 0);
        height: 100px;
}


.iden{
    text-decoration: none;
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    text-align: center;
    width: 100px;
}
.minu{
    display: flex;
}

a{
    text-decoration: none;
    color: white;
    padding: 20px;
}

.Painel{
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(214, 173, 173);
    height: 100px;
    text-align: center;
}

.images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

.ima{
    border: 10px solid goldenrod;
    background-color: blueviolet;
    width: 400px;
    height: 300px;
}

img{
   width: 400px;
   height: 300px;
}
