*{
    margin: 0;
    padding: 0;
   
}

.menuhome {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(0, 0, 0);
        height: 100px;
}


.iden{
    text-decoration: none;
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    text-align: center;
    width: 100px;
}
.minu{
    display: flex;
}

a{
    text-decoration: none;
    color: white;
    padding: 20px;
}

.Painel{
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}



.images{
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

.ima{
    width: 400px;
    height: 300px;
    border: 10px solid rgb(0, 0, 0);
  
}


.titule{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 120px;
    align-items: center;
}
h1{ 
    font-family:Courier New;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    font-size: 40px;
    
}

@font-face {
    font-family: myFirstFont;
    src: url(Fontes/Rainbow\ in\ June.ttf);
  }

h2{
    
}

.Parte2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 300px;
    
}
.parteden{
    display: flex;
    justify-content: center;
    font-family: myFirstFont;
    font-size: 20px;
    color: white;
    align-items: center;
    text-align: left;
    width: 700px;
    height: 200px;
    background-color: rgb(0, 0, 0);

}
h3{
    font-size: 40px;
    padding-right: 100px;
}

.Partedebaixo{
       background-color: rgb(226, 226, 226);
       display: flex;
       flex-direction: column;
       justify-content: center;
       padding-top: 30px;
       padding-bottom: 50px;
      
}

.contato{
    text-align: center;
    font-size: 20px;
    font-family: myFirstFont;
    color: rgb(0, 0, 0);
}

.logs{
 
    height: 100px;
    width: 100px;
}

.informacao{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
}

.caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4{
    text-align: center;
    padding-top: 20px;
    font-family: Times New Roman;
    font-size: 18px;
    width: 180px;
    color:rgb(31, 31, 31);
    font-style: italic;
}

